<!DOCTYPE html>
<html lang="en" ng-app="norcalShows">
<head>
  <meta charset="utf-8">
  <title>NorCal Shows List</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="/snapjs/snap.css">
  <link rel="stylesheet" href="segmented-controls.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body ng-controller="theList">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="snap-drawers">
    <div class="snap-drawer snap-drawer-left">
        <h3>Filter</h3>
	<!-- TODO: Add checkbox for verbosity. If checked, include comments-->
        <form>
          <label>Lineup: <input ng-model='lineupSearch'></label>
          <label>Venue: <input ng-model='venueSearch'></label>
	  <!--
          <div class="segmented-container">
            <span class="segmented single-line">
                 <label>
                <input type="radio" name="ages" value="a/a" checked>
                <span class="label">a/a</span>
              </label>
                 <label>
                <input type="radio" name="ages" value="6+">
                <span class="label">6+</span>
              </label>
                 <label>
                <input type="radio" name="ages" value="18+">
                <span class="label">18+</span>
              </label>
                 <label>
                <input type="radio" name="ages" value="21+">
                <span class="label">21+</span>
              </label>
            </span>
          </div>
-->
          <div class="segmented-container">
            <span class="segmented toprow">
                 <label>
                <input type="checkbox" value="SUN" ng-model='dayFilter.SUN' ng-checked='dayFilter.SUN'>
                <span class="label">SUN</span>
              </label>
                 <label>
                <input type="checkbox" value="MON" ng-model='dayFilter.MON' ng-checked='dayFilter.MON'>
                <span class="label">MON</span>
              </label>
            </span>
            <span class="segmented single-line">
                 <label>
                <input type="checkbox" value="TUE" ng-model='dayFilter.TUE' ng-checked='dayFilter.TUE'>
                <span class="label">TUE</span>
              </label>
                 <label>
                <input type="checkbox" value="WED" ng-model='dayFilter.WED' ng-checked='dayFilter.WED'>
                <span class="label">WED</span>
              </label>
                 <label>
                <input type="checkbox" value="THR" ng-model='dayFilter.THR' ng-checked='dayFilter.THR'>
                <span class="label">THR</span>
              </label>
            </span>
            <span class="segmented bottomrow">
                 <label>
                <input type="checkbox" value="FRI" ng-model='dayFilter.FRI' ng-checked='dayFilter.FRI'>
                <span class="label">FRI</span>
              </label>
                 <label>
                <input type="checkbox" value="SAT" ng-model='dayFilter.SAT' ng-checked='dayFilter.SAT'>
                <span class="label">SAT</span>
              </label>
            </span>
          </div>
	  <!--
          <div class="segmented-container">
            <span class="segmented toprow">
                 <label>
                <input type="checkbox" value="JAN">
                <span class="label">JAN</span>
              </label>
                 <label>
                <input type="checkbox" value="FEB">
                <span class="label">FEB</span>
              </label>
                 <label>
                <input type="checkbox" value="MAR">
                <span class="label">MAR</span>
              </label>
                 <label>
                <input type="checkbox" value="APR">
                <span class="label">APR</span>
              </label>
            </span>
            <span class="segmented">
                 <label>
                <input type="checkbox" value="MAY">
                <span class="label">MAY</span>
              </label>
                 <label>
                <input type="checkbox" value="JUN">
                <span class="label">JUN</span>
              </label>
                 <label>
                <input type="checkbox" value="JUL">
                <span class="label">JUL</span>
              </label>
                 <label>
                <input type="checkbox" value="AUG">
                <span class="label">AUG</span>
              </label>
            </span>
            <span class="segmented bottomrow">
                 <label>
                <input type="checkbox" value="SEP">
                <span class="label">SEP</span>
              </label>
                 <label>
                <input type="checkbox" value="OCT">
                <span class="label">OCT</span>
              </label>
                 <label>
                <input type="checkbox" value="NOV">
                <span class="label">NOV</span>
              </label>
                 <label>
                <input type="checkbox" value="DEC">
                <span class="label">DEC</span>
              </label>
            </span>
          </div>
-->
        </form>
    </div>
    <div class="snap-drawer snap-drawer-right">
	    <h3>About</h3>
	    <p>Developed by <a href="https://github.com/markmatney">Mark Allen Matney, Jr.</a> and licensed under <a href="http://www.wtfpl.net/"><img
	             src="http://www.wtfpl.net/wp-content/uploads/2012/12/wtfpl-badge-4.png"
		            width="80" height="15" alt="WTFPL" /></a>
		    </p>
    </div>
  </div>

  <div id="content" class="snap-content">

    <div ng-repeat="show in shows | filter:filterByDay | filter:lineupFilter | filter:venueFilter" ng-if="show.when[0] !== ''">
      <div class="header">
        <div class="left-top container"><p>{{show.when[0]}}</p></div>
        <div class="middle container"><p>{{show.when[1]}}<br>{{show.when[2]}}</p></div>
        <div class="right container"><p>{{lineupString(show.who)}}</p></div>
        <br clear="both">
      </div>
      <div class="detail">
        <div class="left container"><p><i class="fa fa-2x fa-building"></i></p></div>
        <div class="right container"><p>{{show.where}}</p></div>
        <br clear="both">
      </div>
      <div class="detail" ng-if="show.when[3] !== ''">
        <div class="left container"><p><i class="fa fa-2x fa-clock-o"></i></p></div>
        <div class="right container"><p>{{show.when[3]}}</p></div>
        <br clear="both">
      </div>
      <div class="detail" ng-if="show['what else'].age !== ''">
        <div class="left container"><p><i class="fa fa-2x fa-users"></i></p></div>
        <div class="right container"><p>{{show['what else'].age}}</p></div>
        <br clear="both">
      </div>
      <div class="detail" ng-if="show['what else'].price !== ''">
        <div class="left container"><p><i class="fa fa-2x fa-usd"></i></p></div>
        <div class="right container"><p>{{show['what else'].price}}</p></div>
        <br clear="both">
      </div>
    </div>
  </div>
<!-- clicking on element filters by that element! -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="/snapjs/snap.min.js"></script>
  <script type="text/javascript">
    var snapper = new Snap({element: document.getElementById('content')});
  </script>
</body>
</html>
