<!DOCTYPE html>
<html lang="en" ng-app="norcalShows">
<head>
  <title>NorCal Shows List</title>
  <meta charset="UTF-8">
  <meta name="author" content="Mark Allen Matney, Jr.">
  <meta name="description" content="List of Northern California music events.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="norcal shows,norcal music,norcal music scene,nor cal shows,nor cal music,nor cal music scene,bay area shows,bay area music,bay area music scene,sacramento shows,sacramento music,sacramento music scene,berkeley shows,berkeley music,berkeley music scene,punk shows,funk punk thrash ska,steve koepke">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/snapjs/snap.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="segmented-controls.css">
</head>
<body ng-controller="theList">
  <div class="snap-drawers">
    <div class="snap-drawer snap-drawer-left">
        <h3>Filter</h3>
	<p>Filter shows by lineup, venue, or day of the week!</p>
        <form>
          <label>Lineup: <input ng-model='lineupSearch'></label>
	  <br>
          <label>Venue: <input ng-model='venueSearch'></label>
	  <br>
          <div class="segmented-container">
            <span class="segmented toprow">
                 <label>
                <input type="checkbox" value="SUN" ng-model='dayFilter.SUN' ng-checked='dayFilter.SUN'>
                <span class="label">SUN</span>
              </label>
                 <label>
                <input type="checkbox" value="MON" ng-model='dayFilter.MON' ng-checked='dayFilter.MON'>
                <span class="label">MON</span>
              </label>
            </span>
            <span class="segmented single-line">
                 <label>
                <input type="checkbox" value="TUE" ng-model='dayFilter.TUE' ng-checked='dayFilter.TUE'>
                <span class="label">TUE</span>
              </label>
                 <label>
                <input type="checkbox" value="WED" ng-model='dayFilter.WED' ng-checked='dayFilter.WED'>
                <span class="label">WED</span>
              </label>
                 <label>
                <input type="checkbox" value="THR" ng-model='dayFilter.THR' ng-checked='dayFilter.THR'>
                <span class="label">THR</span>
              </label>
            </span>
            <span class="segmented bottomrow">
                 <label>
                <input type="checkbox" value="FRI" ng-model='dayFilter.FRI' ng-checked='dayFilter.FRI'>
                <span class="label">FRI</span>
              </label>
                 <label>
                <input type="checkbox" value="SAT" ng-model='dayFilter.SAT' ng-checked='dayFilter.SAT'>
                <span class="label">SAT</span>
              </label>
            </span>
          </div>
        </form>
    </div>
    <div class="snap-drawer snap-drawer-right">
	    <h3>About</h3>
	    <p>Developed by <a href="https://github.com/markmatney">Mark Allen Matney, Jr.</a></p>
    </div>
  </div>
  <div id="content" class="snap-content">
    <div ng-repeat="show in shows | filter:filterByDay | filter:lineupFilter | filter:venueFilter" ng-if="show.when[0] !== ''">
      <div class="header">
        <div class="left-top container"><p>{{show.when[0]}}</p></div>
        <div class="middle container"><p>{{show.when[1]}}<br>{{show.when[2]}}</p></div>
        <div class="right container"><p>{{lineupString(show.who)}}</p></div>
        <br clear="both">
      </div>
      <div class="detail">
        <div class="left container"><p><i class="fa fa-2x fa-building"></i></p></div>
        <div class="right container"><p>{{show.where}}</p></div>
        <br clear="both">
      </div>
      <div class="detail" ng-if="show.when[3] !== ''">
        <div class="left container"><p><i class="fa fa-2x fa-clock-o"></i></p></div>
        <div class="right container"><p>{{show.when[3]}}</p></div>
        <br clear="both">
      </div>
      <div class="detail" ng-if="show['what else'].age !== ''">
        <div class="left container"><p><i class="fa fa-2x fa-users"></i></p></div>
        <div class="right container"><p>{{show['what else'].age}}</p></div>
        <br clear="both">
      </div>
      <div class="detail" ng-if="show['what else'].price !== ''">
        <div class="left container"><p><i class="fa fa-2x fa-usd"></i></p></div>
        <div class="right container"><p>{{show['what else'].price}}</p></div>
        <br clear="both">
      </div>
    </div>
  </div>
  <script src="/angular/angular.min.js"></script>
  <script src="/snapjs/snap.min.js"></script>
  <script src="app.js"></script>
  <script type="text/javascript">
    var snapper = new Snap({element: document.getElementById('content')});
  </script>
</body>
</html>
